{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue chez ShopSymfo - Boutique en ligne!
{% endblock %}

{% block body %}

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for shoe in shoes %}
                    <div class="col">
                        <div class="card shadow-sm h-100">
                            <img src="{{ asset('images/shoes/' ~ shoe.imageName) }}" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    {{ shoe.model }}
                                </h5>
                                <p class="card-text">
                                    {{ shoe.description }}
                                </p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="{{ '#exampleModal_' ~ loop.index }}">
                                        Choisir cet article
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="{{ 'exampleModal_' ~ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                        {{ shoe.brand.name ~ ' - ' ~ shoe.model }}
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                                        {% for price in shoe.prices %}
                                            <div class="col">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Tarif: {{ price.amount ~ ' €' }}
                                                        </h5>
                                                        <p class="card-text">
                                                            Tailles disponibles :
                                                        </p>
                                                        <ul>
                                                            {% for size in price.size %}
                                                                <li>
                                                                    {{ size }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                        <form action="{{ path('app_add_to_cart', {'item': price.id}) }}" method="POST">
                                                            <div class="mb-3">
                                                                <label for="size_{{ price.id }}" class="form-label">
                                                                    Sélectionner une taille
                                                                </label>
                                                                <select name="size" class="form-select" id="size_{{ price.id }}">
                                                                    <option value="">
                                                                        Sélectionner une taille
                                                                    </option>
                                                                    {% for size in price.size %}
                                                                        <option value="{{ size }}">
                                                                            {{ size }}
                                                                        </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="quantity_{{ price.id }}" class="form-label">
                                                                    Sélectionner une quantité
                                                                </label>
                                                                <select name="quantity" class="form-select" id="quantity_{{ price.id }}">
                                                                    {% for i in range(1, 10) %}
                                                                        <option value="{{ i }}">
                                                                            {{ i }}
                                                                        </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <button type="submit" class="btn btn-secondary w-100">
                                                                Ajouter au panier
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
