{% extends 'base.html.twig' %}

{% block title %}Shoe{% endblock %}

{% block body %}
    <h1>Shoe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shoe.id }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ shoe.model }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ shoe.description }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ shoe.imageName }}</td>
            </tr>
            <tr>
                <th>ImageSize</th>
                <td>{{ shoe.imageSize }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ shoe.updatedAt ? shoe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_shoe_index') }}">back to list</a>

    <a href="{{ path('app_admin_shoe_edit', {'id': shoe.id}) }}">edit</a>

    {{ include('admin/shoe/_delete_form.html.twig') }}
{% endblock %}
